@model List<WebApplication1.Models.GroupModel>
    @{
    Layout = "_DefaultLayout";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

    </head>
    <body>
        @foreach(var group in Model)
    {
        <p>Id = @group.Id, Name = @group.Name, NumOfStudents = @group.NumOfStudents</p>
    }
        @Html.ActionLink("Create Group", "Create")
    </body>
</html>
